@import url('https://fonts.googleapis.com/css?family=Ubuntu:100,300,300i,400,400i,500,500i,700,700i&display=swap');
body{
    font-size: 15pt;
    width: 100vw;
    font-family: 'Ubuntu';
    background: linear-gradient(-90deg,#051e3e,#051e3e);
}
.e{
  font-size: 19px;
  color: white;
  font-weight: 500;
}
.nvics{
  font-size: 1px;
  color: #efefef;
  font-weight: bolder;
}
.home_div{
  display: flex;
  flex-flow: row;
  height: 100vh;
  width: 100vw;
  
}
.div1{
  display: block;
  background: #001e3e;
  height: 100vh;
  width: 50vw;
    
  
  padding-top: 40vh;

}
.txt{
  font-size: 25px;
  
}
.div1_text{
   position: absolute;
   color: white;
   margin-left: 18vw;
   font-weight: 200;
   font-family: 'Lucida Sans', 'Lucida Sans Regular';
   font-size: 55px;
}
.div2{
  display: block;
  background:linear-gradient( #df1e3e,#f51e3e);
  height: 100vh;
  width: 50vw;
  padding-top: 20vh;
  
}
.div2_text1{
   position: block;
   color: #001e3e;
   font-weight: 300;
   margin-left: 2vw;
   font-family: 'Ubuntu';
   font-size: 80px;
   animation-name: opanim; 
   animation-duration: 4s;
   animation-delay: 0.2s;
   animation-iteration-count: infinite;
}
.div2_text2{
   position: block;
   color: #001e3e;
   font-weight: 300;
   margin-left: 2vw;
   font-family: 'Ubuntu';
   font-size:     65px; 
   animation-name: opanim;
   animation-duration: 4s;
   animation-delay: 5s;
   animation-iteration-count: infinite;
}
.div2_text3{
   position: block;
   color: #001e3e;
   margin-left: 2vw;
   font-family: 'Ubuntu';
   font-size: 50px;
   animation-name: opanim; 
   font-weight: 300;
   animation-duration: 4s;
   animation-delay: 7s;
   animation-iteration-count: infinite;
}
.qt{
  position: absolute;
  color: white;
  margin-top: 45vh;
  margin-left: 1vw;
  text-align: center;
  height: 30vh;
  width: 50vw;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 25px;
  vertical-align: middle;
  z-index: 3;
}
.au-m{
  height: 92vh;
  width: 90vw;
  padding-top: 15vh;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 10vh;
  top: 10vh;
  margin-left: 5vw;
  background-image: linear-gradient( #df1e3e,#f51e3e);
}
.aum-h{
  font-family: 'Ubuntu';
  font-size: 30px;
  color: white;
  text-align: center;
}
.aum-c{
  font-family: 'Ubuntu';
  font-size: 20px;
  color: #001e3e;
  margin-top: 3vh;
  font-weight: 100;
  margin-left: 5vw;
}
.aum-cr{
  margin-top: 3vh;
}
.aumcr-ls{
  display: flex;
  justify-content: space-between;
}
.aumcrls-i{
  display: block;
  position: absolute;
  text-decoration: none;
  height: 20vh;
  width: 40vw;
  margin-right: 15vw;
  margin-left: 15vw;
}
.aumcrls-i img{
  height: 20vh;
  width: 40vw;
}
@media only screen and (min-width: 600px) and (min-height: 300px){
  .e {
    font-size: 15px;
    color: white;
    font-weight: bolder;
  }
  .div1_text{
    color: whitesmoke;
    margin-right: 2vw;
    font-size: 60px;
  }
  .div2_text {
    color: #001e3e;
    vertical-align: text-bottom;
    margin-left: 1vw;
    font-size: 100px;
  }
  .div2_text1 {
    position: block;
    color: #001e3e;
    margin-left: 2vw;
    font-size: 80px;
    animation-name: opanim;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }
  
  .div2_text2 {
    position: block;
    color: #001e3e;
    margin-left: 2vw;
    font-size: 65px;
    animation-name: opanim;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
  }
  
  .div2_text3 {
    position: block;
    color: #001e3e;
    margin-left: 2.4vw;
    font-size: 50px;
    animation-name: opanim;
    animation-duration: 4s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
  }
  
  .est {
    position: absolute;
    display: none;
    text-align: center;
    background: linear-gradient(90deg, #ffffff, #ffffff, #ffffff, #ffffff, #c51e3e);
    margin-top: 55vh;
    padding-right: 10vw;
    height: 3vh;
    width: 60vw;
    font-family: 'Lucida Sans';
    font-weight: 300;
    font-size: 70px;
    vertical-align: middle;
    z-index: 3;
  }
}
@keyframes opanim{
  0% { opacity: 1.0;color: #001e3e}
  50% { opacity: 0.0;}
  100% { opacity: 1.0;color: #001e3e}
}
